{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "react/jsx-curly-spacing": [2, {"when": "never", "allowMultiline": false}],
    "return": "parens",
    "react/arrow": "parens",
    "condition": "ignore",
    "logical": "ignore",
    "prop": "ignore",
    "closingSlash": "never",
    "beforeSelfClosing": "always",
    "afterOpening": "never",
    "beforeClosing": "allow",
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "declaration": "parens",
    "assignment": "parens"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}