.filters {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
 
}
.filters__item {
  display: inline;
}
.filter {
  display: none;
}
.filter:hover {
  border-color: rgba(175, 47, 47, 0.1);
}
.filter:checked + .all {
  border-color: rgba(175, 47, 47, 0.2);
}
.filter:checked + .active {
  border-color: rgba(175, 47, 47, 0.2);
}
.filter:checked + .completed {
  border-color: rgba(175, 47, 47, 0.2);
}
.all, .active, .completed {
  background-color: transparent;
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}
